* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f6f5ff 100%);
}

.container {
  max-width: 1283px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #008f76;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
}
.header___header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-link__logo {
  width: 60px;
  height: 60px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}
.nav-bar .nav-bar__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 102px;
}
.nav-bar .nav-bar__ul__li {
  list-style-type: none;
}
.nav-bar .nav-bar__ul__li__link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
}

.btn {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
  border-radius: 10px;
  padding: 10px 24px;
  gap: 10px;
  margin-left: 94px;
}

.hero {
  margin-bottom: 210px;
}
.hero .hero__hero-box {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.hero .hero__hero-text {
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #008f76;
}
.hero .hero__hero-text2 {
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.hero .hero__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.hero .hero__title span {
  color: #008f76;
}
.hero .hero__hero-link-box {
  display: flex;
  align-items: center;
}
.hero .hero__hero-link-box .hero___btn-search {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
  padding: 10px 24px;
  gap: 10px;
  background: #008f76;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
  border: none;
  margin-top: 48px;
  margin-left: 404px;
}
.hero .hero__hero-link-box .hero___btn-search2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #008f76;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 251px;
  height: 52px;
  border: 1px solid #008f76;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
  border-radius: 20px;
  margin-top: 48px;
  margin-left: 48px;
}
.hero .hero__hero-link-box .hero___btn-search2 .hand {
  margin-left: 12px;
}
.hero .line {
  margin-top: 54px;
  width: 405px;
  margin-left: 447px;
  border: 0.5px solid;
  color: #008f76;
}
.hero .card__book__first {
  margin-left: 90px;
  width: 100px;
  height: 138.33px;
  background: #ffffff;
  margin-top: 19px;
}
.hero .card__book__first__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  line-height: 200%;
  color: #212121;
  padding-top: 14px;
  margin-left: 13px;
}
.hero .card__book__first__poet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
  margin-top: 2px;
  margin-left: 13px;
}
.hero .card__book__first__image {
  background: url(image.png);
  opacity: 0.5;
  margin-left: 13px;
  margin-top: 2px;
}
.hero .card__book__second {
  width: 130px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  margin-top: -40px;
  margin-left: 302px;
}
.hero .card__book__second__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  color: #212121;
  padding-top: 6px;
  padding-left: 12px;
}
.hero .card__book__second__poet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
  padding-top: 2px;
  padding-left: 12px;
}
.hero .card__book__second__image {
  opacity: 0.6;
  padding-top: 2px;
  padding-left: 12px;
}
.hero .card__book__third {
  width: 130px;
  height: 220px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  margin-left: 70px;
  margin-top: -30px;
}
.hero .card__book__third__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  /* identical to box height, or 16px */
  padding-top: 13.7px;
  padding-left: 13px;
  color: #212121;
}
.hero .card__book__third__poet {
  padding-top: 2px;
  padding-left: 13px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
}
.hero .card__book__third__image {
  padding-left: 13px;
  padding-top: 2px;
}
.hero .card__book__fourth {
  width: 230px;
  height: 360px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  margin-left: 519px;
  margin-top: -400px;
}
.hero .card__book__fourth__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 200%;
  padding-top: 13px;
  padding-left: 13px;
  color: #212121;
}
.hero .card__book__fourth__poet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 200%;
  padding-top: 2px;
  padding-left: 13px;
  color: #008f76;
}
.hero .card__book__fourth__left {
  position: relative;
  width: 40px;
  height: 40px;
  left: -22px;
  top: -130px;
}
.hero .card__book__fourth__image {
  padding-top: 2px;
}
.hero .card__book__fourth__right {
  position: relative;
  top: -170px;
  left: 212px;
}
.hero .card__book__fifth {
  width: 130px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  margin-top: -350px;
  margin-left: 840px;
}
.hero .card__book__fifth__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  color: #212121;
  padding-top: 6px;
  padding-left: 12px;
}
.hero .card__book__fifth__poet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
  padding-top: 2px;
  padding-left: 12px;
}
.hero .card__book__fifth__image {
  opacity: 0.6;
  padding-top: 2px;
  padding-left: 12px;
}
.hero .card__book__sixth {
  width: 100px;
  height: 138.33px;
  background: #ffffff;
  margin-top: -299px;
  margin-left: 1067px;
}
.hero .card__book__sixth__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  line-height: 200%;
  color: #212121;
  padding-top: 14px;
  margin-left: 13px;
}
.hero .card__book__sixth__poet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
  margin-top: 2px;
  margin-left: 13px;
}
.hero .card__book__sixth__image {
  width: 86.09px;
  height: 88.73px;
  opacity: 0.5;
  margin-left: 13px;
  margin-top: 2px;
}
.hero .card__book__seventh {
  width: 130px;
  height: 220px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  margin-left: 1057px;
  margin-top: 131px;
}
.hero .card__book__seventh__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  padding-top: 13.7px;
  padding-left: 13px;
  color: #212121;
}
.hero .card__book__seventh__poet {
  padding-top: 2px;
  padding-left: 13px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  color: #008f76;
}
.hero .card__book__seventh__image {
  padding-left: 13px;
  padding-top: 2px;
}

.people .people__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.people .people__title span {
  color: #008f76;
}
.people__cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 48px;
}
.people__cards__card {
  padding: 30px;
  gap: 24px;
  width: 596px;
  height: 228px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 5px;
}
.people__cards__card__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.people__cards__card .mohammad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  margin-left: -50px;
}
.people__cards__card .mohammad__person {
  padding-left: 100px;
  padding-top: 10px;
}
.people__cards__card .mohammad .person-descs {
  margin-left: -250px;
}
.people__cards__card .mohammad .person-descs-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
  list-style-type: none;
}
.people__cards__card .mohammad .person-descs-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  list-style-type: none;
}
.people__cards__card2 {
  padding: 30px;
  gap: 24px;
  width: 596px;
  height: 228px;
  background: #ffffff;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 5px;
  margin-left: 39px;
}
.people__cards__card2__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.people__cards__card2 .mohammad {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 6px;
}
.people__cards__card2 .mohammad__person {
  padding-left: 0px;
  padding-top: 10px;
}
.people__cards__card2 .mohammad .person-descs {
  margin-left: 16px;
}
.people__cards__card2 .mohammad .person-descs-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
  list-style-type: none;
}
.people__cards__card2 .mohammad .person-descs-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  list-style-type: none;
}

.circle {
  margin-top: 200px;
}
.circle__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.circle__cards__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.circle__cards__card__ul {
  padding-left: 16px;
}
.circle__cards__card__ul__li {
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.circle__cards__card__ul__li2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #949494;
  list-style-type: none;
}

.kata__meka {
  margin-top: 208px;
}
.kata__meka_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kata__meka_text__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 200%;
  color: #212121;
}
.kata__meka_text_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: right;
  color: #949494;
}
.kata__meka__desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  margin-top: 8px;
  color: #949494;
}
.kata__meka__left {
  position: relative;
  width: 40px;
  height: 40px;
  left: -22px;
  top: 185px;
}
.kata__meka__right {
  position: relative;
  width: 40px;
  height: 40px;
  left: 1222px;
  top: -161px;
}
.kata__meka__cards {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.kata__meka__cards__card {
  width: 596px;
  height: 280.98px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.kata__meka__cards__card__paragraph {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.kata__meka__cards__card-guy {
  margin-left: 30px;
  margin-top: 45px;
  display: flex;
  align-items: center;
}
.kata__meka__cards__card-guy__ul {
  margin-left: 16px;
}
.kata__meka__cards__card-guy__ul_li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #212121;
  list-style-type: none;
}
.kata__meka__cards__card-guy__ul_li2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #949494;
  list-style-type: none;
}
.kata__meka__cards__card2 {
  width: 596px;
  height: 280.98px;
  margin-left: 48px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.kata__meka_circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}
.kata__meka_circles_circle1 {
  width: 16px;
  height: 16px;
  background: #008f76;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.kata__meka_circles_circle {
  width: 16px;
  height: 16px;
  margin-left: 24px;
  background: #d9d9d9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.children {
  margin-top: 200px;
}
.children_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.children_text__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 200%;
  color: #212121;
}
.children_text_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: right;
  color: #949494;
}
.children__pictures {
  margin-top: 24px;
  margin-left: -18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.last {
  margin-top: 193px;
}
.last__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 200%;
  /* identical to box height, or 56px */
  color: #212121;
  text-align: center;
}
.last__title span {
  color: #008f76;
}
.last_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  /* identical to box height, or 40px */
  color: #949494;
  text-align: center;
  margin-top: 8px;
}
.last__btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
  padding: 10px 24px;
  gap: 10px;
  width: 344px;
  height: 68px;
  margin-left: 450px;
  margin-top: 48px;
  background: #008f76;
  border: 1px solid #008f76;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
}
.last__btn img {
  margin-left: 12px;
}
.last-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  /* identical to box height, or 40px */
  color: #949494;
  margin-top: 24px;
  text-align: center;
}
.last__btn2 {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 262px;
  height: 68px;
  border: 1px solid #008f76;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: #008f76;
  margin-left: 490px;
  margin-top: 24px;
}
.last__btn2 .bi-whatsapp {
  color: lightgreen;
  height: 32.2620010376px;
  width: 32.0004997253px;
  margin-left: 10px;
}

main {
  padding-top: 200px;
}

.footer {
  padding-top: 150px;
}
.footer-site {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}
.footer-site__logo {
  display: flex;
  align-items: center;
}
.footer-site__logo-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
  margin-left: 44px;
}
.footer-site__logo-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: -315px;
}
.footer-site__logo-social .bi {
  margin-left: 44px;
  height: 24px;
  width: 24px;
}
.footer-site__contact {
  margin-top: 45px;
}
.footer-site__contact_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
}
.footer-site__contact_ul_li {
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  flex: none;
  order: 1;
}
.footer-site__kami {
  margin-top: 45px;
}
.footer-site__kami_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
}
.footer-site__kami_ul_li {
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  flex: none;
  order: 1;
}
.footer-site__galery {
  margin-top: 45px;
  margin-bottom: 40px;
}
.footer-site__galery_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
}
.footer-site__galery_ul_li {
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  flex: none;
  order: 1;
}
.footer__last {
  height: 60px;
  background: #008f76;
}
.footer__last__c {
  display: flex;
  align-items: center;
  margin-left: 470px;
  padding-top: 19px;
}
.footer__last__c-box_text {
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: white;
  padding: 0px 10px;
}
.footer__last__c-paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #ffffff;
  margin-left: 17.5px;
}/*# sourceMappingURL=stylesheet.css.map */